@model budgetApp.Models.ChangePasswordModel
<head>
    <link type="text/javascript" href="~/js/site.js" />
    <link type="text/css" href="~/css/site.css" />
</head>
<body onload="checkUserSession()">
    <h2>@ViewBag.message</h2>
    <form asp-controller="Home" method="post" onsubmit="return checkPwdSetting()" role="form">
    <table class="table">
        <tr>
            <td>
                <p>User</p>
            </td>
            <td>
                @Html.Label(@GlobalVariables.GlobalUsername)
            </td>
            <td>
                <button type="button" onclick="ShowPwd(event, this)" class="btn btn-outline-secondary btn-lg">Show Passwords</button>
            </td>
        </tr>
        <tr>
            <td>
                <p>Enter Old Password</p>
            </td>
            <td>
                @Html.TextBoxFor(x=>x.OldPassword, new {@type="password"})
            </td>
        </tr>
        <tr>
            <td>
                <p>Enter New Password</p>
            </td>
            <td>
                @Html.TextBoxFor(x=>x.NewPassword, new {@type="password", @id="txtNewPwd"})
            </td>
        </tr>
        <tr>
            <td>
                <p>Confirm New Password</p>
            </td>
            <td>
                <input type="password" id="txtConfirmPwd"/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-outline-secondary btn-lg">Confirm</button>
            </td>
        </tr>
    </table>
    </form>
    <input type="checkbox" id="chkShow" value="false"/>
</body>
<script>
function ShowPwd (e, t) {
    var chkShow = document.getElementById("chkShow");
    var txtNew = document.getElementById("txtNewPwd");
    if(!chkShow.checked){
        txtNew.setAttribute("type", "text");
        chkShow.checked = true;
        t.value = "Hide Password";
    }else{
        txtNew.setAttribute("type", "password");
        chkShow.checked = false;
        t.value = "Show Password";
    }
}
</script>
