@{
    ViewData["Title"] = "Home Page";
    List<SelectListItem> categories = new List<SelectListItem>();
    /* add our caegories into the list of ListItem */
    categories.Add(new SelectListItem
            {
                Text = "Need",
                Value = "Need"
            });
    categories.Add(new SelectListItem
            {
                Text = "Want",
                Value = "Want"
            });
    categories.Add(new SelectListItem
            {
                Text = "Saving/Invest",
                Value = "Saving/Invest"
            });
    categories.Add(new SelectListItem
            {
                Text = "Income",
                Value = "Income"
            });
}

@model budgetApp.Models.EntryModel
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link type="text/javascript" href="~/js/site.js" />
    <link type="text/css" href="~/css/site.css" />
</head>
<body onload="checkUserSession()">
<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>
</div>



    <form asp-controller="Home" method="post" id="entryForm" role="form" onsubmit="return checkFields()">
    <div>
        <table class="table">
            <tr>
                <td scope="col" class="td-right">Amount($)</td>
                <td scope="col">@Html.TextBoxFor(x=>x.amount, new {@style = "width: 200px;",@id="txtAmt", @type="number", @min="0.01",@step="0.01", @value="0"})</td>
            </tr>
            <tr>
                <td scope="col" class="td-right">Category</td>
                <td scope="col">@Html.DropDownListFor(x=>x.category, categories, new {@style = "width: 200px;", @id="ddlCat"})</td>
            </tr>
            <tr>
                <td scope="col" class="td-right">Sub Category(optional)</td>
                <td scope="col">@Html.TextBoxFor(x=>x.subCategory, new {@style = "width: 200px;", @id="txtSub"})</td>
            </tr>
            <tr>
                <td scope="col" class="td-right">Description(Optional)</td>
                <td scope="col">@Html.TextAreaFor(x=>x.description, new {@style = "heigth: 80px; width: 200px;", @id="txtDesc"})</td>
            </tr>
            <tr>
                <td></td>
                <td scope="col"><input type="date" name="date" id="dtpDate"/></td>
            </tr>
        </table>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-outline-primary btn-lg" style="align-content: center;">Submit</button>
        </div>
        
    </div>
    </form>
    <div style="text-align: center;">
        @Html.ActionLink("View Reports", "Report")
    </div>

    </body>
<script>
    //we want to prototype a function for the Date object so that we can get the proper time for our datepicker
        Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
        });
//make sure that all required fields have a value before sending them back
    
    function checkFields(){
        
        if(document.getElementById("txtAmt").value <= 0){
            alert("Must enter an amount.");
            return false;
        }
        
        if(document.getElementById("ddlCat").value == null || document.getElementById("ddlCat").value == ""){
            alert("Must select a category.");
            return false;
        }
        if(document.getElementById("chkDate").checked){
            //if they checked the other date radio button we need to make sure they chose a date
            if(document.getElementById("dtpDate").value == null || document.getElementById("dtpDate").value == ""){
                alert("If you wish to change the date you must select one from the datepicker.");
                return false;
            }
        }
        return true;
    }
    $(document).ready( function () {
        $('#dtpDate').val(new Date().toDateInputValue());
    });

    function checkUserSession() {
    var x;
    var arr = document.cookie.split(';');
    for (var i = 0; i < arr.length; i++) {
        var temp = arr[i].split("=");
        if (temp[0] == "user") {
            x = temp[1];
            break;
        }
    }
    if (x == null || x == "") {
        
        
        window.location = "/Home/SignIn";
        return false;
    }

    
        return true;

   
}
</script>