@{
    ViewData["Title"] = "Home Page";
    List<SelectListItem> categories = new List<SelectListItem>();
    /* add our caegories into the list of ListItem */
    categories.Add(new SelectListItem
            {
                Text = "Need",
                Value = "Need"
            });
    categories.Add(new SelectListItem
            {
                Text = "Want",
                Value = "Want"
            });
    categories.Add(new SelectListItem
            {
                Text = "Saving/Invest",
                Value = "Saving/Invest"
            });
    categories.Add(new SelectListItem
            {
                Text = "Income",
                Value = "Income"
            });
}

@model budgetApp.Models.EntryModel

<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>
</div>



    <form asp-controller="Home" method="post" id="entryForm" role="form" onsubmit="return checkFields()">
    <div>
        <table class="table">
            <tr>
                <th scope="col">Amount($)</th>
                <th scope="col">@Html.TextBoxFor(x=>x.amount, new {@style = "width: 200px;",@id="txtAmt", @type="number", @min="0.01",@step="0.01", @value="0"})</th>
            </tr>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">@Html.DropDownListFor(x=>x.category, categories, new {@style = "width: 200px;", @id="ddlCat"})</th>
            </tr>
            <tr>
                <th scope="col">Sub Category(optional)</th>
                <th scope="col">@Html.TextBoxFor(x=>x.subCategory, new {@style = "width: 200px;", @id="txtSub"})</th>
            </tr>
            <tr>
                <th scope="col">Description(Optional)</th>
                <th scope="col">@Html.TextAreaFor(x=>x.description, new {@style = "heigth: 80px; width: 200px;", @id="txtDesc"})</th>
            </tr>        
        </table>
        <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
    </div>
    </form>
    <div>
        @Html.ActionLink("View Reports", "Report", new {@class="btn btn-outline-secondary btn-lg", @style="font-size: 55;"})
    </div>

<script>
//make sure that all required fields have a value before sending them back
    
    function checkFields(){
        
        if(document.getElementById("txtAmt").value <= 0){
            alert("Must enter an amount.");
            return false;
        }
        
        if(document.getElementById("ddlCat").value == null || document.getElementById("ddlCat").value == ""){
            alert("Must select a category.")
            return false
        }
        return true;
    }
</script>