@model budgetApp.Models.ReportModel
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<h2>@ViewBag.Msg</h2>
<form asp-controller="Home" method="post" id="reportForm" role="form">
    @Html.DropDownListFor(x => x.category, Model.categories)
    @Html.DropDownListFor(x => x.period, Model.periods)
    <button type="submit" class="btn btn-outline-primary">View</button>
</form>
@Html.Raw(Model.strHTML)
@Html.Raw(Model.strHTMLTable)
</body>
<script>
function checkEditState() {
    if(document.getElementById("colEdit0").style.width == "0%"){
        document.getElementById("editStateHead").innerHTML = "<img src=\"/lib/images/lock.jpg\" class=\"img-header\" onclick=\"checkEditState()\"/>"
        //if we lock it then we want the buttons to be invisible
        setEditVisibility(false)
    }else{
        document.getElementById("editStateHead").innerHTML = "<img src=\"/lib/images/unlock.jpg\" class=\"img-header\" onclick=\"checkEditState()\"/>"
        setEditVisibility(true)
    }
}
function setEditVisibility(blnVisible){
    var table = document.getElementById("reportTable");
    for(let i = 0; i < table.rows.length; i++){
        if(document.getElementById("colEdit" + i).style.width == "0%"){
            document.getElementById("colEdit" + i).style.width = "20%;";
            
        }else{
            document.getElementById("colEdit" + i).style.width = "0%;";
        }
    }
}
</script>